/*Colors Pro-tip: Use the Eye Dropper Chrome extension to find the colors used on web pages.
Teal color (used for headings and backgrounds): #4aaaa5
Regular font color (used for paragraphs and all text besides the headings): #777777
Main header background color: #ffffff
Main header border color: #cccccc
Footer background color: #666666
Main content background color: #ffffff
Main content border color: #dddddd
Fonts:
For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;.*/
*{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

.container-fluid {
	padding: 0;
	background-color: #fff;
	border: none;
}

.header {

}

.navbar {
	border-radius: 0;
	border-bottom: .2em solid #ddd;
}

.navbar-brand{
	padding: 1.5em;
	background-color: #4aaaa5;
	font-size: 2em;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #fff;
}

.navbar-nav {
	margin: 1.5em 0em 0em 2em;
}

.navbar-header {
	height: 6em;
	padding-left: 6em;
}

.navbar-collapse {
}

.navbar-toggle {
	margin: 1.5em;
}

#pipe{
	margin-left: 1.5em;
}

#github {
	color: #000;
	font-size: 4em;

}

#linkedin {
	color: #0077B5;
	font-size: 4em;

}

/*style fa stack overflow to imitate assignment screenshot*/
#stackoverflow {
	background-color: #FF9900;
	color: #fff;
}
